<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>DeadpoolDanger.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 40}, {196, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -20}</string>
			<key>spriteSize</key>
			<string>{196, 192}</string>
			<key>spriteSourceSize</key>
			<string>{196, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1774, 262}, {196, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolDown1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {182, 222}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{182, 222}</string>
			<key>spriteSourceSize</key>
			<string>{194, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 496}, {182, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolDown2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 62}, {186, 170}}</string>
			<key>spriteOffset</key>
			<string>{-1, -31}</string>
			<key>spriteSize</key>
			<string>{186, 170}</string>
			<key>spriteSourceSize</key>
			<string>{194, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 262}, {186, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolDown3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 86}, {194, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, -43}</string>
			<key>spriteSize</key>
			<string>{194, 146}</string>
			<key>spriteSourceSize</key>
			<string>{194, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1774, 456}, {194, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 284}, {186, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -142}</string>
			<key>spriteSize</key>
			<string>{186, 170}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 434}, {186, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 232}, {182, 222}}</string>
			<key>spriteOffset</key>
			<string>{-2, -116}</string>
			<key>spriteSize</key>
			<string>{182, 222}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1746, 1288}, {182, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 232}, {182, 222}}</string>
			<key>spriteOffset</key>
			<string>{-2, -116}</string>
			<key>spriteSize</key>
			<string>{182, 222}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1564, 984}, {182, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 145}, {136, 276}}</string>
			<key>spriteOffset</key>
			<string>{-2, -56}</string>
			<key>spriteSize</key>
			<string>{136, 276}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1426, 748}, {136, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 55}, {132, 276}}</string>
			<key>spriteOffset</key>
			<string>{-2, 34}</string>
			<key>spriteSize</key>
			<string>{132, 276}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 998}, {132, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {174, 200}}</string>
			<key>spriteOffset</key>
			<string>{-1, 106}</string>
			<key>spriteSize</key>
			<string>{174, 200}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 948}, {174, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {170, 152}}</string>
			<key>spriteOffset</key>
			<string>{-8, 151}</string>
			<key>spriteSize</key>
			<string>{170, 152}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1036, 1124}, {170, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 21}, {174, 200}}</string>
			<key>spriteOffset</key>
			<string>{-1, 106}</string>
			<key>spriteSize</key>
			<string>{174, 200}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 908}, {174, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 55}, {132, 276}}</string>
			<key>spriteOffset</key>
			<string>{-2, 34}</string>
			<key>spriteSize</key>
			<string>{132, 276}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 720}, {132, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolJump9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 145}, {136, 276}}</string>
			<key>spriteOffset</key>
			<string>{-2, -56}</string>
			<key>spriteSize</key>
			<string>{136, 276}</string>
			<key>spriteSourceSize</key>
			<string>{186, 454}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1652}, {136, 276}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {182, 222}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{182, 222}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1562, 1208}, {182, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {182, 224}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{182, 224}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1564, 758}, {182, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {184, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{184, 228}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 456}, {184, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 262}, {186, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {184, 228}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{184, 228}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 484}, {184, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolNormal6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {182, 224}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{182, 224}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1748, 838}, {182, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolPunch1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 232}}</string>
			<key>spriteOffset</key>
			<string>{-37, -0}</string>
			<key>spriteSize</key>
			<string>{186, 232}</string>
			<key>spriteSourceSize</key>
			<string>{260, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 262}, {186, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolPunch2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 232}}</string>
			<key>spriteOffset</key>
			<string>{-36, -0}</string>
			<key>spriteSize</key>
			<string>{188, 232}</string>
			<key>spriteSourceSize</key>
			<string>{260, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1564, 524}, {188, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolPunch3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{260, 232}</string>
			<key>spriteSourceSize</key>
			<string>{260, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 0}, {260, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolPunch4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 232}}</string>
			<key>spriteOffset</key>
			<string>{-36, -0}</string>
			<key>spriteSize</key>
			<string>{188, 232}</string>
			<key>spriteSourceSize</key>
			<string>{260, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1754, 604}, {188, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 260}}</string>
			<key>spriteOffset</key>
			<string>{-64, -0}</string>
			<key>spriteSize</key>
			<string>{212, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1378, 0}, {212, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {198, 260}}</string>
			<key>spriteOffset</key>
			<string>{-71, -0}</string>
			<key>spriteSize</key>
			<string>{198, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1574, 262}, {198, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {202, 260}}</string>
			<key>spriteOffset</key>
			<string>{-69, -0}</string>
			<key>spriteSize</key>
			<string>{202, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1796, 0}, {202, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {340, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{340, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 0}, {340, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {340, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{340, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {340, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {202, 260}}</string>
			<key>spriteOffset</key>
			<string>{-69, -0}</string>
			<key>spriteSize</key>
			<string>{202, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1592, 0}, {202, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {198, 260}}</string>
			<key>spriteOffset</key>
			<string>{-71, -0}</string>
			<key>spriteSize</key>
			<string>{198, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1364, 486}, {198, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolSword8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 260}}</string>
			<key>spriteOffset</key>
			<string>{-64, -0}</string>
			<key>spriteSize</key>
			<string>{212, 260}</string>
			<key>spriteSourceSize</key>
			<string>{340, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 222}, {212, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 1164}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 1172}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {182, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 222}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1748, 1064}, {182, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 1398}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{752, 1150}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 1280}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {144, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 1110}, {144, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {182, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1238, 982}, {182, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {182, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1054, 890}, {182, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {182, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 748}, {182, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolTransform9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {182, 232}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{182, 232}</string>
			<key>spriteSourceSize</key>
			<string>{186, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 714}, {182, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {214, 220}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{214, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1162, 0}, {214, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 2}, {130, 224}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{130, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1276}, {130, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 2}, {150, 224}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{150, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 1054}, {150, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 4}, {152, 222}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{152, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 940}, {152, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {184, 220}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{184, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1056, 668}, {184, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {208, 220}}</string>
			<key>spriteOffset</key>
			<string>{-7, -3}</string>
			<key>spriteSize</key>
			<string>{208, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1160, 222}, {208, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {176, 222}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{176, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 606}, {176, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 0}, {128, 226}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{128, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 1514}, {128, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 0}, {118, 226}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{118, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 490}, {118, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 0}, {142, 226}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{142, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 718}, {142, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {164, 224}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{164, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1208, 1216}, {164, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {202, 222}}</string>
			<key>spriteOffset</key>
			<string>{-7, -2}</string>
			<key>spriteSize</key>
			<string>{202, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1370, 262}, {202, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {160, 218}}</string>
			<key>spriteOffset</key>
			<string>{-20, -4}</string>
			<key>spriteSize</key>
			<string>{160, 218}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1540, 1432}, {160, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkLeft9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 6}, {138, 220}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{138, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1422, 1026}, {138, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {208, 220}}</string>
			<key>spriteOffset</key>
			<string>{-7, -3}</string>
			<key>spriteSize</key>
			<string>{208, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 234}, {208, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 0}, {142, 226}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{142, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 1344}, {142, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 0}, {118, 226}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{118, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 262}, {118, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 0}, {128, 226}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{128, 226}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 1632}, {128, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 4}, {176, 222}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{176, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 496}, {176, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {214, 220}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{214, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 0}, {214, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {184, 220}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{184, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 686}, {184, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 4}, {152, 222}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{152, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 830}, {152, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 2}, {150, 224}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{150, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 946}, {150, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 2}, {130, 224}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{130, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 1150}, {130, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 6}, {138, 220}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{138, 220}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 1406}, {138, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {160, 218}}</string>
			<key>spriteOffset</key>
			<string>{-20, -4}</string>
			<key>spriteSize</key>
			<string>{160, 218}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 720}, {160, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {202, 222}}</string>
			<key>spriteOffset</key>
			<string>{-7, -2}</string>
			<key>spriteSize</key>
			<string>{202, 222}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1160, 444}, {202, 222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DeadpoolWalkRight9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {164, 224}}</string>
			<key>spriteOffset</key>
			<string>{-12, -1}</string>
			<key>spriteSize</key>
			<string>{164, 224}</string>
			<key>spriteSourceSize</key>
			<string>{222, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1374, 1248}, {164, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>DeadpoolAnimations.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>